body {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  background-color: floralwhite;
}

h1, h3 {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  padding-bottom: 15px;
}

table, tr, td {
  border: 1px solid black;
}

table {
  margin-bottom: 25px;
}

th, tr, td {
  text-align: center;
}

li {
  margin-bottom: 15px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

th {
  background-color: lightgrey;
}

img {
  height: 70px;
  width: auto;
  margin-right: 20px;
  margin: auto;
  display: block;
}

.vote {
  height: 100px;
  margin: 10px;
  text-align: center;
}

.voteName{
  color: white;
}

.deleteBtn, .editBtn, .addImgBtn {
  margin-left: 15px;
}

#addForm {
  text-align: center;
}

.addBtn {
  margin-top: 15px;
}

.jumbotron {
  background: url("vote.jpg");
  height: 120px;
  background-size: contain;
}
